USE [master]
GO
/****** Object:  Database [CRUD]    Script Date: 05/03/2021 21:10:44 ******/
CREATE DATABASE [CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CRUD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CRUD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD]
GO
/****** Object:  Table [dbo].[Organizacion]    Script Date: 05/03/2021 21:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Organizacion](
	[OrganizacionID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Organizacion] PRIMARY KEY CLUSTERED 
(
	[OrganizacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/03/2021 21:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](150) NULL,
	[Cedula] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Telefono] [varchar](50) NULL,
	[OrganizacionID] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Organizacion] ON 

INSERT [dbo].[Organizacion] ([OrganizacionID], [Nombre]) VALUES (1, N'Avior Airlines')
INSERT [dbo].[Organizacion] ([OrganizacionID], [Nombre]) VALUES (40, N'Mas por menos')
SET IDENTITY_INSERT [dbo].[Organizacion] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [NombreCompleto], [Cedula], [FechaNacimiento], [Telefono], [OrganizacionID]) VALUES (1, N'Rogelio Salas', N'V24391577', CAST(N'1991-09-05' AS Date), N'4120891288', 1)
INSERT [dbo].[Usuario] ([UsuarioID], [NombreCompleto], [Cedula], [FechaNacimiento], [Telefono], [OrganizacionID]) VALUES (4, N'Alexandra Malave', N'V114422233', CAST(N'2020-09-10' AS Date), N'4120891288', 1)
INSERT [dbo].[Usuario] ([UsuarioID], [NombreCompleto], [Cedula], [FechaNacimiento], [Telefono], [OrganizacionID]) VALUES (7, N'Maria Lopez', N'V231232323', CAST(N'2021-03-03' AS Date), N'4120891288', 40)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Organizacion] FOREIGN KEY([OrganizacionID])
REFERENCES [dbo].[Organizacion] ([OrganizacionID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Organizacion]
GO
USE [master]
GO
