<div class="row">
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Satisfacción de empleados</h5>
        <p class="card-category">Por departamento</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Actualizado hace 3 minutos
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Total empleados</h5>
        <p class="card-category">Segmentado por cargo</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Desarrollo
          <i class="fa fa-circle text-warning"></i> Marketing
          <i class="fa fa-circle text-danger"></i> Servidores
          <i class="fa fa-circle text-gray"></i> Call center
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-user"></i> Total empleados por cargo
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Satisfacción de empleados</h5>
        <p class="card-category">Últimos 10 años</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Femenino
          <i class="fa fa-circle text-warning"></i> Masculino
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Actualizado ahora mismo
        </div>
      </div>
    </div>
  </div>
</div>